*{
    margin: 0;
    padding: 0;
}

:root {
    --Logofont:'Baloo 2', cursive;
    --font:'Roboto Mono', monospace;

    --white: #ffffff;
    --black: #000000;
    --skyBLue:#15BEC9;
    --AlternativeBlack:#121212;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*Globals*/

header{
    background-color: var(--white);
}

nav ul li {
    display: inline-block;
}

ul {
    list-style-type: none;
}

article {
    margin: 15rem 15rem;
}

body{
    background-color:var(--AlternativeBlack);
}

h4{
    font-family: var(--font);
    color: var(--white);
    font-size:40px;
    font-weight: 500;
}

p {
    font-family: var(--font);
    color: var(--white);
    font-size: 36px;
    font-weight: 500;
}


span {
    color: var(--skyBLue);
}

a {
    text-decoration: none;
    color: var(--black);
    font-family: var(--font);
    font-weight: 500;
    font-size: 24px;
} 

h2 {
    font-family: var(--font);
    color: var(--white);
    font-size:64px;
    font-weight: 700;
}

.article--textAlignCenter {
    text-align: center;
}

/*Header*/

.waves {
    background-image: url(../img/waves/Vector.svg);
    background-repeat: no-repeat;
    height: 60rem;   
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

.nav__logo {
    text-decoration: none;
    color: var(--black);
    font-family: var(--Logofont);
    font-size: 48px;
    font-weight:600;
}

.nav__ul {
    display: flex;
    align-self: center;
    gap: 12rem;

}

.nav__ul--contact {
    color: var(--white);
}

@media (max-width: 768px) {
    .waves {
        background-size:contain;
        background-position:center;

    }
    .nav {
        flex-direction: column;
        width: 100%;
    }
    .nav__ul--contact {
        color: var(--black);
    }
}

@media (max-width: 1023px) {
    .waves {
        background-size:contain;
        background-position:center;

    }
    .nav {
        display: flex;
        justify-content:flex-start ;
    }
    .nav__logo {
        display: inline;
        font-size: 36px;
    }
    .nav__ul {
        gap: 2rem;
        font-size: 30px;
    }
    .nav__ul--contact {
        color: var(--black);
    }
}

@media (max-width: 1823px) {
    .nav__ul--contact {
        color: var(--black);
    }
}

/*First Article*/

.article {
    display: flex;
    gap: 40rem;
}

.article__slogan {
    align-self: center;
}

.article__slogan__h2 {
    display: flex;
    justify-content: center;
}

/* MacBook img */

.article__aside {
    display: grid;
    grid-area: article__aside;
}

.article__aside__img {
    width: 100%;
    max-width: 463px;
    min-width: 150px;
    filter: grayscale(100%)
}

.contenedor {
    display: grid;
    grid-template-areas: 
        "article . article__aside"
    ;
}

@media (max-width: 768px) {
    h2 {
        color: var(--black);
        font-size: 24px;
    }
    .article {
        flex-direction: column;
        
    }
}

@media (max-width: 1023px) {
    .article {
        gap:20rem
    }
    .article__slogan__h2 {
        color: var(--black);
    }
    .article__slogan2__h2 {
        color: var(--black);
    }
}

@media (max-width: 1701px) {
 
    .article__slogan__h2 {
        color: var(--black);
    }
}

/* Second Article */

.article2 {
    display: flex;
    margin-top: 45rem;
    margin-bottom: 20rem;
}

.icons {
    font-size: 100px; 
    color: var(--skyBLue);    
}

.article2__section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.article2__section__h4 {
    display: flex;
    justify-content: center;
}

.article2__section__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.article2__section__p {
    text-align: center;
}

.article2__aside {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.article2__aside__h4 {
    display: flex;
    justify-content: center;
}

.article2__aside__h4--centered {
    display: flex;
    justify-content: center;
}

.article2__aside__arrowImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.article2__aside__div {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.article2__aside__div2 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
}

.article2__aside__div3 {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.contenedor2 {
    display: grid;
    grid-template-areas: 
        "article2__section . article2__aside"
    ;
}

@media (max-width: 768px) {
    article {
        margin: 0;
    }
    .icons {
         font-size: 50px;
    }
    .article2 {
        flex-direction: column;
    }
    .article2__section__p {
        font-size: 16px;
    }
    .article2__aside__h4 .article2__aside__h4--centered {
        font-size: 16px;
    }

}

/* About-Us */

.article3 {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    margin-top: -20rem;
}

.article3__section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.article3__aside {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* Clients */

.article4 {
    margin-top: -20rem;
}

.logos__img {
    max-width: 200px;
    max-height: 100%;
}

.firstrow__logos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
}

.secondrow__logos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.article5 {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
}

/* Investors */

.article6 {
    margin-top: -20rem;
}

.row__logos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
}

.article7 {
    margin-top: 20rem;
}

/* contact */

.article8 {
    margin-top: -20rem;
    display: flex;
    justify-content: center;
}

.article8__div {
    stroke: var(--white);
    border-radius: 1rem;
}

.form__fieldset {
    display: block;
    text-align: center;
    width: 35rem;
    height: 40rem;
    border-radius: 3rem;
}

::placeholder {
    color: var(--white);
    font-family: var(--font);
    font-size: 14px;
    opacity: 1;
}

.form__input {
    margin-top: 3rem;
    width: 18rem;
    height: 4rem;
    border-radius: 3rem;
    background: transparent;
    text-align: center;
}

.form__textarea {
    margin-top: 3rem;
    width: 18rem;
    height: 8rem;
    border-radius: 3rem;
    background: transparent;
    text-align: center;
}

.form__submit {
    margin-top: 3rem;
    width: 10rem;
    height: 2.5rem;
    border-radius: 3rem;
}

input[type=submit]{
    font-family: var(--font);
    color: var(--blacks);
    font-size: 10px;
    background: var(--white);
}

@media (max-width: 1023px) {
    .form__fieldset {
        width: 30rem;
    }
    ::placeholder {
        color: var(--black);
    }
}

/* footer */

.footer {
    background-color: var(--black);
    height: 18rem;
    display: flex;
    flex-direction: column;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    margin: 4rem 4rem;
}


.footer__socialmedia {
    display: flex;
    gap: 2rem;
}

.footer__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer__email {
    font-size: 20px;
}

.social-media, .contact {
    font-size: 3rem;
    color: white;
}

.footer__copyright {
    text-align: center;
}

.footer__copyright__p {
    font-size: 16px;
}

@media (max-width: 768px) {
    .social-media, .contact {
        font-size: 2rem;
    }    
}